<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.3.0" newVersion="4.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
	<add key="authenticationType" value="ServicePrincipal" />
	<!-- Common configuration properties for both authentication types -->
	<add key="applicationId" value="a1d706f3-8d67-4071-b44c-b808e6ae2857" />
	<add key="workspaceId" value="edc33df0-af8f-420e-a28b-c67ea8febfe6" />
	<add key="reportId" value="96a7d453-9480-4adf-8829-d471b096fa8a" />

	<!-- Fill Tenant ID in authorityUrl-->
	<add key="authorityUrl" value="https://login.microsoftonline.com/organizations/" />
	<add key="scope" value="https://analysis.windows.net/powerbi/api/.default" />
	<add key="urlPowerBiServiceApiRoot" value="https://api.powerbi.com/" />

	<!-- Note: Do NOT leave your credentials on code. Save them in secure place like Key Vault. -->
	<add key="pbiUsername" value="" />
	<add key="pbiPassword" value="" />

	<!-- Note: Do NOT leave your app secret on code. Save it in secure place like Key Vault. -->
	<add key="applicationSecret" value="JYj7Q~A4u_6EbTpkpCW.ms2bHHzg4uBDFDdrx" />
	<add key="tenant" value="96af154f-23fb-4541-9317-1d2819a2ba1d" />
	</appSettings>
</configuration>